USE [master]
GO
/****** Object:  Database [ClinicaMedica]    Script Date: 29/06/2026 22:50:15 ******/
CREATE DATABASE [ClinicaMedica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicaMedica', FILENAME = N'C:\Users\Theov\ClinicaMedica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicaMedica_log', FILENAME = N'C:\Users\Theov\ClinicaMedica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicaMedica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicaMedica]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[idPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Apellido] [varchar](255) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[Telefono] [varchar](30) NULL,
	[Nacionalidad] [varchar](255) NULL,
	[Mail] [varchar](255) NULL,
	[FechaNacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultorio]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultorio](
	[idConsultorio] [int] IDENTITY(1,1) NOT NULL,
	[NroConsultorio] [int] NOT NULL,
	[Piso] [int] NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idConsultorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTurno]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTurno](
	[idTipoTurno] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[idPersona] [int] NOT NULL,
	[Localidad] [varchar](255) NULL,
	[idObraSocial] [int] NULL,
	[NumeroOS] [bigint] NULL,
	[FechaIngreso] [date] NULL,
	[FechaEgreso] [date] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[idMedico] [int] IDENTITY(1,1) NOT NULL,
	[idPersona] [int] NOT NULL,
	[NumMatricula] [varchar](255) NOT NULL,
	[HorarioAtencion] [int] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnos]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[idTurno] [int] IDENTITY(1,1) NOT NULL,
	[idMedico] [int] NOT NULL,
	[idEspecialidad] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[idConsultorio] [int] NOT NULL,
	[idTipoTurno] [int] NOT NULL,
	[idPaciente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TurnosAsignados]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Crear la vista
CREATE VIEW [dbo].[vw_TurnosAsignados]
AS
SELECT
    M.idMedico,
    TP.idTipoTurno,
    M.Activo,
    CONCAT(PM.Nombre, ' ', PM.Apellido) AS Medico,
    CONCAT(PP.Nombre, ' ', PP.Apellido) AS Paciente,
    T.FechaHora,
    TP.Descripcion AS Estado,
    C.NroConsultorio
FROM Turnos T
INNER JOIN Medico M ON M.idMedico = T.idMedico
INNER JOIN Persona PM ON PM.idPersona = M.idPersona
INNER JOIN TipoTurno TP ON TP.idTipoTurno = T.idTipoTurno
INNER JOIN Consultorio C ON C.idConsultorio = T.idConsultorio
INNER JOIN Paciente P ON P.idPersona = T.idPaciente
INNER JOIN Persona PP ON PP.idPersona = P.idPersona;
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[idEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TurnosCompletos]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TurnosCompletos] 

AS 

SELECT 

    PP.Nombre + ' ' + PP.Apellido AS Paciente, 

 

    PM.Nombre + ' ' + PM.Apellido AS Medico, 

 

    E.Nombre AS Especialidad, 

 

    C.Descripcion AS Consultorio, 

 

    C.NroConsultorio As NumeroConsultorio,  

 

    C.Piso As Piso, 

 

    T.FechaHora, 

 

    TT.Descripcion 

     

 

FROM Turnos T 

 

INNER JOIN Paciente PA 

    ON T.idPaciente = PA.idPersona 

 

INNER JOIN Persona PP 

    ON PA.idPersona = PP.idPersona 

 

INNER JOIN Medico M 

    ON T.idMedico = M.idMedico 

 

INNER JOIN Persona PM 

    ON M.idPersona = PM.idPersona 

 

INNER JOIN Especialidad E 

    ON T.idEspecialidad = E.idEspecialidad 

 

INNER JOIN Consultorio C 

    ON T.idConsultorio = C.idConsultorio 

 

INNER JOIN TipoTurno TT 

    ON T.idTipoTurno = TT.idTipoTurno;
GO
/****** Object:  Table [dbo].[HistorialMedico]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialMedico](
	[idHistorialMedico] [int] NOT NULL,
	[idTurno] [int] NOT NULL,
	[FechaAtencion] [date] NOT NULL,
	[MotivoConsulta] [varchar](255) NULL,
	[Diagnostico] [varchar](255) NULL,
	[Tratamiento] [varchar](255) NULL,
	[Observaciones] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idHistorialMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorarioAtencion]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioAtencion](
	[idHoraAtencion] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFin] [time](7) NOT NULL,
	[Cupos] [int] NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idHoraAtencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicoEspecialidad]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicoEspecialidad](
	[idMedicoEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[idMedico] [int] NOT NULL,
	[idEspecialidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMedicoEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicoHorario]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicoHorario](
	[idMedicoHorario] [int] IDENTITY(1,1) NOT NULL,
	[idMedico] [int] NOT NULL,
	[idHorario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMedicoHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObraSocial]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObraSocial](
	[idObraSocial] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [varchar](255) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idObraSocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TurnosMedico]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurnosMedico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idHoraAtencion] [int] NOT NULL,
	[fechaHora] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Consultorio] ON 

INSERT [dbo].[Consultorio] ([idConsultorio], [NroConsultorio], [Piso], [Descripcion]) VALUES (1, 101, 1, N'Consultorio General')
INSERT [dbo].[Consultorio] ([idConsultorio], [NroConsultorio], [Piso], [Descripcion]) VALUES (2, 102, 1, N'Consultorio Pediatría')
INSERT [dbo].[Consultorio] ([idConsultorio], [NroConsultorio], [Piso], [Descripcion]) VALUES (3, 201, 2, N'Consultorio Cardiología')
SET IDENTITY_INSERT [dbo].[Consultorio] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([idEspecialidad], [Nombre]) VALUES (1, N'Pediatría')
INSERT [dbo].[Especialidad] ([idEspecialidad], [Nombre]) VALUES (2, N'Cardiología')
INSERT [dbo].[Especialidad] ([idEspecialidad], [Nombre]) VALUES (3, N'Clínica Médica')
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[HorarioAtencion] ON 

INSERT [dbo].[HorarioAtencion] ([idHoraAtencion], [Fecha], [horaInicio], [horaFin], [Cupos], [Activo]) VALUES (1, CAST(N'2026-06-22' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 8, 1)
INSERT [dbo].[HorarioAtencion] ([idHoraAtencion], [Fecha], [horaInicio], [horaFin], [Cupos], [Activo]) VALUES (2, CAST(N'2026-06-22' AS Date), CAST(N'13:00:00' AS Time), CAST(N'17:00:00' AS Time), 8, 1)
INSERT [dbo].[HorarioAtencion] ([idHoraAtencion], [Fecha], [horaInicio], [horaFin], [Cupos], [Activo]) VALUES (3, CAST(N'2026-06-23' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 8, 1)
SET IDENTITY_INSERT [dbo].[HorarioAtencion] OFF
GO
SET IDENTITY_INSERT [dbo].[Medico] ON 

INSERT [dbo].[Medico] ([idMedico], [idPersona], [NumMatricula], [HorarioAtencion], [Activo]) VALUES (1, 1, N'MP1001', NULL, 1)
INSERT [dbo].[Medico] ([idMedico], [idPersona], [NumMatricula], [HorarioAtencion], [Activo]) VALUES (2, 2, N'MP1002', NULL, 1)
INSERT [dbo].[Medico] ([idMedico], [idPersona], [NumMatricula], [HorarioAtencion], [Activo]) VALUES (3, 3, N'MP1003', NULL, 1)
SET IDENTITY_INSERT [dbo].[Medico] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicoEspecialidad] ON 

INSERT [dbo].[MedicoEspecialidad] ([idMedicoEspecialidad], [idMedico], [idEspecialidad]) VALUES (5, 1, 1)
INSERT [dbo].[MedicoEspecialidad] ([idMedicoEspecialidad], [idMedico], [idEspecialidad]) VALUES (6, 1, 2)
INSERT [dbo].[MedicoEspecialidad] ([idMedicoEspecialidad], [idMedico], [idEspecialidad]) VALUES (1, 1, 3)
SET IDENTITY_INSERT [dbo].[MedicoEspecialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicoHorario] ON 

INSERT [dbo].[MedicoHorario] ([idMedicoHorario], [idMedico], [idHorario]) VALUES (1, 1, 1)
INSERT [dbo].[MedicoHorario] ([idMedicoHorario], [idMedico], [idHorario]) VALUES (2, 2, 2)
INSERT [dbo].[MedicoHorario] ([idMedicoHorario], [idMedico], [idHorario]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[MedicoHorario] OFF
GO
SET IDENTITY_INSERT [dbo].[ObraSocial] ON 

INSERT [dbo].[ObraSocial] ([idObraSocial], [RazonSocial], [Activo]) VALUES (1, N'OSDE', 1)
INSERT [dbo].[ObraSocial] ([idObraSocial], [RazonSocial], [Activo]) VALUES (2, N'Swiss Medical', 1)
INSERT [dbo].[ObraSocial] ([idObraSocial], [RazonSocial], [Activo]) VALUES (3, N'PAMI', 1)
SET IDENTITY_INSERT [dbo].[ObraSocial] OFF
GO
INSERT [dbo].[Paciente] ([idPersona], [Localidad], [idObraSocial], [NumeroOS], [FechaIngreso], [FechaEgreso], [Activo]) VALUES (4, N'San Justo', 1, 987654, CAST(N'2026-01-10' AS Date), NULL, 1)
INSERT [dbo].[Paciente] ([idPersona], [Localidad], [idObraSocial], [NumeroOS], [FechaIngreso], [FechaEgreso], [Activo]) VALUES (5, N'Ramos Mejía', 2, 123456, CAST(N'2026-03-22' AS Date), NULL, 1)
INSERT [dbo].[Paciente] ([idPersona], [Localidad], [idObraSocial], [NumeroOS], [FechaIngreso], [FechaEgreso], [Activo]) VALUES (7, N'Morón', 3, 444555, CAST(N'2026-05-05' AS Date), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([idPersona], [Nombre], [Apellido], [DNI], [Telefono], [Nacionalidad], [Mail], [FechaNacimiento]) VALUES (1, N'Carlos', N'Gómez', N'30111222', N'1144445555', N'Argentina', N'carlos.gomez@clinica.com', CAST(N'1980-05-12' AS Date))
INSERT [dbo].[Persona] ([idPersona], [Nombre], [Apellido], [DNI], [Telefono], [Nacionalidad], [Mail], [FechaNacimiento]) VALUES (2, N'Laura', N'Martínez', N'32333444', N'1155556666', N'Argentina', N'laura.martinez@clinica.com', CAST(N'1985-08-20' AS Date))
INSERT [dbo].[Persona] ([idPersona], [Nombre], [Apellido], [DNI], [Telefono], [Nacionalidad], [Mail], [FechaNacimiento]) VALUES (3, N'Andrés', N'Fernández', N'28555666', N'1166667777', N'Argentina', N'andres.fer@clinica.com', CAST(N'1978-03-04' AS Date))
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoTurno] ON 

INSERT [dbo].[TipoTurno] ([idTipoTurno], [Descripcion]) VALUES (1, N'Confirmado')
INSERT [dbo].[TipoTurno] ([idTipoTurno], [Descripcion]) VALUES (2, N'cancelado')
INSERT [dbo].[TipoTurno] ([idTipoTurno], [Descripcion]) VALUES (3, N'Pendiente')
SET IDENTITY_INSERT [dbo].[TipoTurno] OFF
GO
SET IDENTITY_INSERT [dbo].[Turnos] ON 

INSERT [dbo].[Turnos] ([idTurno], [idMedico], [idEspecialidad], [FechaHora], [idConsultorio], [idTipoTurno], [idPaciente]) VALUES (1, 1, 3, CAST(N'2026-06-22T08:00:00.000' AS DateTime), 1, 1, 4)
INSERT [dbo].[Turnos] ([idTurno], [idMedico], [idEspecialidad], [FechaHora], [idConsultorio], [idTipoTurno], [idPaciente]) VALUES (2, 2, 2, CAST(N'2026-06-22T13:00:00.000' AS DateTime), 3, 2, 5)
INSERT [dbo].[Turnos] ([idTurno], [idMedico], [idEspecialidad], [FechaHora], [idConsultorio], [idTipoTurno], [idPaciente]) VALUES (3, 3, 1, CAST(N'2026-06-23T08:00:00.000' AS DateTime), 3, 1, 7)
SET IDENTITY_INSERT [dbo].[Turnos] OFF
GO
SET IDENTITY_INSERT [dbo].[TurnosMedico] ON 

INSERT [dbo].[TurnosMedico] ([id], [idHoraAtencion], [fechaHora]) VALUES (1, 15, CAST(N'2026-07-01T08:00:00.000' AS DateTime))
INSERT [dbo].[TurnosMedico] ([id], [idHoraAtencion], [fechaHora]) VALUES (2, 15, CAST(N'2026-07-01T08:30:00.000' AS DateTime))
INSERT [dbo].[TurnosMedico] ([id], [idHoraAtencion], [fechaHora]) VALUES (3, 15, CAST(N'2026-07-01T09:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TurnosMedico] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Medico__791E8D1A6D95036E]    Script Date: 29/06/2026 22:50:15 ******/
ALTER TABLE [dbo].[Medico] ADD UNIQUE NONCLUSTERED 
(
	[NumMatricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Medico__A47881408D140596]    Script Date: 29/06/2026 22:50:15 ******/
ALTER TABLE [dbo].[Medico] ADD UNIQUE NONCLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_medico_especialidad]    Script Date: 29/06/2026 22:50:15 ******/
ALTER TABLE [dbo].[MedicoEspecialidad] ADD  CONSTRAINT [uq_medico_especialidad] UNIQUE NONCLUSTERED 
(
	[idMedico] ASC,
	[idEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_medico_horario]    Script Date: 29/06/2026 22:50:15 ******/
ALTER TABLE [dbo].[MedicoHorario] ADD  CONSTRAINT [uq_medico_horario] UNIQUE NONCLUSTERED 
(
	[idMedico] ASC,
	[idHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Persona__C035B8DD5DDE96A7]    Script Date: 29/06/2026 22:50:15 ******/
ALTER TABLE [dbo].[Persona] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HorarioAtencion] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Medico] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ObraSocial] ADD  CONSTRAINT [DF_ObraSocial_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Paciente] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[HistorialMedico]  WITH CHECK ADD  CONSTRAINT [fk_historial_turno] FOREIGN KEY([idTurno])
REFERENCES [dbo].[Turnos] ([idTurno])
GO
ALTER TABLE [dbo].[HistorialMedico] CHECK CONSTRAINT [fk_historial_turno]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [fk_medico_persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [fk_medico_persona]
GO
ALTER TABLE [dbo].[MedicoEspecialidad]  WITH CHECK ADD  CONSTRAINT [fk_me_especialidad] FOREIGN KEY([idEspecialidad])
REFERENCES [dbo].[Especialidad] ([idEspecialidad])
GO
ALTER TABLE [dbo].[MedicoEspecialidad] CHECK CONSTRAINT [fk_me_especialidad]
GO
ALTER TABLE [dbo].[MedicoEspecialidad]  WITH CHECK ADD  CONSTRAINT [fk_me_medico] FOREIGN KEY([idMedico])
REFERENCES [dbo].[Medico] ([idMedico])
GO
ALTER TABLE [dbo].[MedicoEspecialidad] CHECK CONSTRAINT [fk_me_medico]
GO
ALTER TABLE [dbo].[MedicoHorario]  WITH CHECK ADD  CONSTRAINT [fk_mh_horario] FOREIGN KEY([idHorario])
REFERENCES [dbo].[HorarioAtencion] ([idHoraAtencion])
GO
ALTER TABLE [dbo].[MedicoHorario] CHECK CONSTRAINT [fk_mh_horario]
GO
ALTER TABLE [dbo].[MedicoHorario]  WITH CHECK ADD  CONSTRAINT [fk_mh_medico] FOREIGN KEY([idMedico])
REFERENCES [dbo].[Medico] ([idMedico])
GO
ALTER TABLE [dbo].[MedicoHorario] CHECK CONSTRAINT [fk_mh_medico]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [fk_paciente_obra_social] FOREIGN KEY([idObraSocial])
REFERENCES [dbo].[ObraSocial] ([idObraSocial])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [fk_paciente_obra_social]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [fk_paciente_persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [fk_paciente_persona]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [fk_turno_consultorio] FOREIGN KEY([idConsultorio])
REFERENCES [dbo].[Consultorio] ([idConsultorio])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [fk_turno_consultorio]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [fk_turno_especialidad] FOREIGN KEY([idEspecialidad])
REFERENCES [dbo].[Especialidad] ([idEspecialidad])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [fk_turno_especialidad]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [fk_turno_medico] FOREIGN KEY([idMedico])
REFERENCES [dbo].[Medico] ([idMedico])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [fk_turno_medico]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [fk_turno_paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPersona])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [fk_turno_paciente]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [fk_turno_tipo] FOREIGN KEY([idTipoTurno])
REFERENCES [dbo].[TipoTurno] ([idTipoTurno])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [fk_turno_tipo]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarTurnosVencidos]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[sp_ActualizarTurnosVencidos]
    AS
    BEGIN
        SET NOCOUNT ON;

        UPDATE Turnos
        SET idTipoTurno = (
            SELECT idTipoTurno
            FROM TipoTurno
            WHERE Descripcion = 'Realizado'
        )
        WHERE FechaHora < GETDATE()
        AND idTipoTurno IN (
            SELECT idTipoTurno
            FROM TipoTurno
            WHERE Descripcion IN ('Agendado', 'Confirmado')
        );

        PRINT 'Turnos vencidos actualizados correctamente.';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaEspecialidad]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaEspecialidad]
    @Nombre VARCHAR(255)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Especialidad WHERE Nombre = @Nombre
    )
    BEGIN
        RAISERROR('Ya existe una especialidad con ese nombre.', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRANSACTION

        INSERT INTO Especialidad (Nombre)
        VALUES (@Nombre);

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AltaLogicaObraSocial]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AltaLogicaObraSocial]
        @idObraSocial INT
    AS
    BEGIN
        IF EXISTS (SELECT 1 FROM ObraSocial WHERE idObraSocial = @idObraSocial)
        BEGIN
            UPDATE ObraSocial
            SET Activo = 1
            WHERE idObraSocial = @idObraSocial;

            PRINT 'Obra social activada correctamente.';
        END
        ELSE
        BEGIN
            PRINT 'La obra social no existe.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaMedico]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaMedico]
	@idPersona INT,
	@NumMatricula VARCHAR(255),
	@HorarioAtencion INT
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO Medico (idPersona,NumMatricula, HorarioAtencion, Activo)
			VALUES(@idPersona, @NumMatricula, @HorarioAtencion, 1);

		COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AltaObraSocial]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AltaObraSocial]
        @RazonSocial VARCHAR(255)
    AS
    BEGIN
        INSERT INTO ObraSocial (RazonSocial)
        VALUES (@RazonSocial);

        PRINT 'Obra social agregada correctamente.';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaTurno]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[sp_AltaTurno]
        @Alta_idMedico INT,
        @Alta_idEspecialidad INT,
        @Alta_FechaHora DATETIME,
        @Alta_idConsultorio INT,
        @Alta_idPaciente INT,
        @Alta_idTipoTurno INT
    AS
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM Medico WHERE idMedico = @Alta_idMedico AND Activo = 1)
        BEGIN
            PRINT 'El médico no existe o no está activo.';
        END
        ELSE IF NOT EXISTS (
            SELECT 1 
            FROM MedicoEspecialidad 
            WHERE idMedico = @Alta_idMedico 
            AND idEspecialidad = @Alta_idEspecialidad
        )
        BEGIN
            PRINT 'El medico no atiende esa especialidad.';
        END
        ELSE IF NOT EXISTS (SELECT 1 FROM Paciente WHERE idPersona = @Alta_idPaciente AND Activo = 1)
        BEGIN
            PRINT 'El paciente no existe o no está activo.';
        END
        ELSE IF NOT EXISTS (SELECT 1 FROM Especialidad WHERE idEspecialidad = @Alta_idEspecialidad)
        BEGIN
            PRINT 'La especialidad no existe.';
        END
        ELSE IF NOT EXISTS (SELECT 1 FROM Consultorio WHERE idConsultorio = @Alta_idConsultorio)
        BEGIN
            PRINT 'El consultorio no existe.';
        END
        ELSE IF EXISTS (
            SELECT 1
            FROM Turnos
            WHERE idMedico = @Alta_idMedico
            AND FechaHora = @Alta_FechaHora
            AND idTipoTurno <> 3
        )
        BEGIN
            PRINT 'El médico ya tiene un turno en esa fecha y hora.';
        END
        ELSE IF EXISTS (
            SELECT 1
            FROM Turnos
            WHERE idConsultorio = @Alta_idConsultorio
            AND FechaHora = @Alta_FechaHora
            AND idTipoTurno <> 3
        )
        BEGIN
            PRINT 'El consultorio ya está ocupado en esa fecha y hora.';
        END
        ELSE
        BEGIN
            INSERT INTO Turnos
            (
                idMedico,
                idEspecialidad,
                FechaHora,
                idConsultorio,
                idTipoTurno,
                idPaciente
            )
            VALUES
            (
                @Alta_idMedico,
                @Alta_idEspecialidad,
                @Alta_FechaHora,
                @Alta_idConsultorio,
                @Alta_idTipoTurno,
                @Alta_idPaciente
            );

            PRINT 'Turno registrado correctamente.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AsignacionTurnosx30Minutos]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AsignacionTurnosx30Minutos]
    @idHoraAtencion INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Fecha DATE;
    DECLARE @HoraInicio TIME;
    DECLARE @HoraFin TIME;
    DECLARE @Actual DATETIME;
    DECLARE @FINAL DATETIME;

    -- Obtener datos del horario
    SELECT 
        @Fecha = Fecha,
        @HoraInicio = horaInicio,
        @HoraFin = horaFin
    FROM HorarioAtencion 
    WHERE idHoraAtencion = @idHoraAtencion;

    IF @HoraInicio IS NULL OR @HoraFin IS NULL
    BEGIN
        RAISERROR('ID de horario no encontrado', 16, 1);
        RETURN;
    END

    -- Calcular fecha/hora de inicio
    SET @Actual = CAST(@Fecha AS DATETIME) + CAST(@HoraInicio AS DATETIME);

    -- Calcular fecha/hora de fin (considerando si cruza medianoche)
    IF @HoraFin > @HoraInicio
        SET @FINAL = CAST(@Fecha AS DATETIME) + CAST(@HoraFin AS DATETIME);
    ELSE
        SET @FINAL = DATEADD(DAY, 1, CAST(@Fecha AS DATETIME)) + CAST(@HoraFin AS DATETIME);

    -- Generar turnos cada 30 minutos
    WHILE @Actual < @FINAL
    BEGIN
        IF NOT EXISTS (
            SELECT 1 
            FROM TurnosMedico 
            WHERE idHoraAtencion = @idHoraAtencion 
              AND FechaHora = @Actual
        )
        BEGIN
            INSERT INTO TurnosMedico (idHoraAtencion, FechaHora)
            VALUES (@idHoraAtencion, @Actual);
        END

        SET @Actual = DATEADD(MINUTE, 30, @Actual);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AsignarEspecialidades]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AsignarEspecialidades]
    @idEspecialidad INT,
    @idMedico INT

AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Especialidad WHERE idEspecialidad = @idEspecialidad)
    BEGIN
        RAISERROR('No existe esa especialidad.', 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM Medico WHERE idMedico = @idMedico)
    BEGIN
        RAISERROR('No existe ese medico.', 16, 1);
        RETURN;
    END;

    IF EXISTS (SELECT 1 FROM MedicoEspecialidad WHERE idEspecialidad = @idEspecialidad 
                AND idMedico = @idMedico)
    BEGIN
        RAISERROR('Ya existe esta asignatura', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRANSACTION

        INSERT INTO MedicoEspecialidad(idMedico, idEspecialidad)
        VALUES (@idMedico, @idEspecialidad);

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AsignarHorarioMedico]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_AsignarHorarioMedico] 

    @NumMatricula VARCHAR(50), 

    @Fecha DATE, 

    @HoraInicio TIME(0), 

    @HoraFin TIME(0), 

    @Cupos INT 

AS 

BEGIN 

    SET NOCOUNT ON; 

 

  

 

    

    DECLARE @idMedicoEncontrado INT; 

 

    SELECT @idMedicoEncontrado = idMedico  

    FROM Medico  

    WHERE NumMatricula = @NumMatricula; 

 

     

    IF @idMedicoEncontrado IS NULL 

    BEGIN 

        RAISERROR('Error: La matrícula ingresada no pertenece a ningún médico activo.', 16, 1); 

        RETURN; 

    END; 

 

 

    IF @HoraInicio >= @HoraFin 

    BEGIN 

        RAISERROR('Error: La hora de inicio no puede ser mayor o igual a la hora de fin.', 16, 1); 

        RETURN; 

    END; 

 

 

    IF @Fecha < CAST(GETDATE() AS DATE) 

    BEGIN 

        RAISERROR('Error: No se pueden asignar agendas para fechas del pasado.', 16, 1); 

        RETURN;  

    END; 

 

    

    IF EXISTS ( 

        SELECT 1  

        FROM MedicoHorario MH 

        INNER JOIN HorarioAtencion HA ON MH.idHorario = HA.idHoraAtencion 

        WHERE MH.idMedico = @idMedicoEncontrado  

          AND HA.Fecha = @Fecha 

          AND HA.Activo = 1 

    ) 

    BEGIN 

        RAISERROR('Error: El médico ya tiene una agenda de atención asignada para la fecha seleccionada.', 16, 1); 

        RETURN; 

    END; 

 

 

    BEGIN TRANSACTION; 

 

    BEGIN TRY 

        DECLARE @idNuevoHorario INT; 

 

       

        INSERT INTO HorarioAtencion (Fecha, horaInicio, horaFin, Cupos, Activo) 

        VALUES (@Fecha, @HoraInicio, @HoraFin, @Cupos, 1); 

 

        SET @idNuevoHorario = SCOPE_IDENTITY(); 

 

         

        INSERT INTO MedicoHorario (idMedico, idHorario) 

        VALUES (@idMedicoEncontrado, @idNuevoHorario); 

 

       

        DECLARE @FechaHoraActual DATETIME; 

        DECLARE @FechaHoraFin DATETIME; 

 

        SET @FechaHoraActual = DATEADD(MINUTE, DATEDIFF(MINUTE, '00:00:00', @HoraInicio), CAST(@Fecha AS DATETIME)); 

        SET @FechaHoraFin = DATEADD(MINUTE, DATEDIFF(MINUTE, '00:00:00', @HoraFin), CAST(@Fecha AS DATETIME)); 

 

        WHILE @FechaHoraActual < @FechaHoraFin 

        BEGIN 

            INSERT INTO TurnosMedico (idHoraAtencion, fechaHora) 

            VALUES (@idNuevoHorario, @FechaHoraActual); 

 

            SET @FechaHoraActual = DATEADD(MINUTE, 30, @FechaHoraActual); 

        END; 

 

        COMMIT TRANSACTION; 

        PRINT 'Agenda y turnos creados exitosamente para el médico matriculado.'; 

    END TRY 

    BEGIN CATCH 

        ROLLBACK TRANSACTION; 

        THROW; 

    END CATCH 

END; 
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaEspecialidad]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaEspecialidad]
    @idEspecialidad INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Especialidad WHERE idEspecialidad = @idEspecialidad)
    BEGIN
        RAISERROR('No existe esa especialidad.', 16, 1);
        RETURN;
    END;

    IF EXISTS (SELECT 1 FROM MedicoEspecialidad WHERE idEspecialidad = @idEspecialidad)
    BEGIN
        RAISERROR('No se puede eliminar, hay medicos con esta especialidad asignada.', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRANSACTION

        DELETE FROM Especialidad
        WHERE idEspecialidad = @idEspecialidad;

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END;    
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaFisicaObraSocial]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[sp_BajaFisicaObraSocial]
        @idObraSocial INT
    AS
    BEGIN
        IF EXISTS (SELECT 1 FROM ObraSocial WHERE idObraSocial = @idObraSocial)
        BEGIN
            UPDATE Paciente
            SET idObraSocial = NULL,
                NumeroOS = NULL
            WHERE idObraSocial = @idObraSocial;

            DELETE
            FROM ObraSocial
            WHERE idObraSocial = @idObraSocial;

            PRINT 'Obra social eliminada correctamente.';
        END
        ELSE
        BEGIN
            PRINT 'La obra social no existe.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaLogicaObraSocial]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BajaLogicaObraSocial]
        @idObraSocial INT
    AS
    BEGIN
        IF EXISTS (
            SELECT 1
            FROM ObraSocial
            WHERE idObraSocial = @idObraSocial
        )
        BEGIN
            UPDATE ObraSocial
            SET Activo = 0
            WHERE idObraSocial = @idObraSocial;

            PRINT 'Obra social dada de baja correctamente.';
        END
        ELSE
        BEGIN
            PRINT 'La obra social no existe.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaMedico]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaMedico]
    @idMedico INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Medico WHERE idMedico = @idMedico)
    BEGIN
        RAISERROR('No existe un médico con ese id.', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRANSACTION

        UPDATE Medico
        SET Activo = 0
        WHERE idMedico = @idMedico;

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarCoberturaPaciente]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CambiarCoberturaPaciente]
        @Cobertura_idPaciente INT,
        @Cobertura_idObraSocial INT,
        @Cobertura_NumeroOS BIGINT
    AS
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM Paciente WHERE idPersona = @Cobertura_idPaciente)
        BEGIN
            PRINT 'El paciente no existe.';
        END
        ELSE IF NOT EXISTS (
            SELECT 1
            FROM ObraSocial
            WHERE idObraSocial = @Cobertura_idObraSocial
            AND Activo = 1
        )
        BEGIN
            PRINT 'La obra social no existe o está inactiva.';
        END
        ELSE
        BEGIN
            UPDATE Paciente
            SET idObraSocial = @Cobertura_idObraSocial,
                NumeroOS = @Cobertura_NumeroOS
            WHERE idPersona = @Cobertura_idPaciente;

            PRINT 'Cobertura médica actualizada correctamente.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelarTurno]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[sp_CancelarTurno]
        @Cancelar_idTurno INT
    AS
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM Turnos WHERE idTurno = @Cancelar_idTurno)
        BEGIN
            PRINT 'El turno no existe.';
        END
        ELSE
        BEGIN
            UPDATE Turnos
            SET idTipoTurno = 3
            WHERE idTurno = @Cancelar_idTurno;

            PRINT 'Turno cancelado correctamente.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarHistorialPacientePorDNI]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_ConsultarHistorialPacientePorDNI] 

( 

    @DNI VARCHAR(20) 

) 

AS 

BEGIN 

 

    SELECT 

        P.Nombre + ' ' + P.Apellido AS Paciente, 

        PM.Nombre + ' ' + PM.Apellido AS Medico, 

        E.Nombre AS Especialidad, 

        HM.FechaAtencion, 

        HM.MotivoConsulta, 

        HM.Diagnostico, 

        HM.Tratamiento, 

        HM.Observaciones 

    FROM HistorialMedico HM 

    INNER JOIN Turnos T ON HM.idTurno = T.idTurno 

    INNER JOIN Paciente PA ON T.idPaciente = PA.idPersona 

    INNER JOIN Persona P ON PA.idPersona = P.idPersona 

    INNER JOIN Medico M ON T.idMedico = M.idMedico 

    INNER JOIN Persona PM ON M.idPersona = PM.idPersona 

    INNER JOIN Especialidad E ON T.idEspecialidad = E.idEspecialidad 

    WHERE P.DNI = @DNI 

    ORDER BY HM.FechaAtencion DESC; 

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarHistorialPorMedico]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[sp_ConsultarHistorialPorMedico]
        @Historial_idMedico INT
    AS
    BEGIN
        SELECT
            HM.idHistorialMedico AS [ID Historial],
            T.idTurno AS [ID Turno],
            HM.FechaAtencion AS [Fecha Atención],
            T.FechaHora AS [Fecha y Hora Turno],
            Per.Nombre + ' ' + Per.Apellido AS Paciente,
            PerMed.Nombre + ' ' + PerMed.Apellido AS Medico,
            E.Nombre AS Especialidad,
            HM.MotivoConsulta,
            HM.Diagnostico,
            HM.Tratamiento,
            HM.Observaciones
        FROM HistorialMedico HM
        INNER JOIN Turnos T ON HM.idTurno = T.idTurno
        INNER JOIN Paciente Pac ON T.idPaciente = Pac.idPersona
        INNER JOIN Persona Per ON Pac.idPersona = Per.idPersona
        INNER JOIN Medico M ON T.idMedico = M.idMedico
        INNER JOIN Persona PerMed ON M.idPersona = PerMed.idPersona
        INNER JOIN Especialidad E ON T.idEspecialidad = E.idEspecialidad
        WHERE M.idMedico = @Historial_idMedico
        ORDER BY HM.FechaAtencion DESC;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarHistorialPorPaciente]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[sp_ConsultarHistorialPorPaciente]
        @idPaciente INT
    AS
    BEGIN
        SELECT
            HM.idHistorialMedico,
            HM.idTurno,
            FORMAT(T.FechaHora, 'hh:mm') AS Hora,
            HM.FechaAtencion,
            Per.Nombre + ' ' + Per.Apellido AS Paciente,
            PerMed.Nombre + ' ' + PerMed.Apellido AS Medico,
            E.Nombre AS Especialidad,
            HM.MotivoConsulta,
            HM.Diagnostico,
            HM.Tratamiento,
            HM.Observaciones
        FROM HistorialMedico HM
        INNER JOIN Turnos T ON HM.idTurno = T.idTurno
        INNER JOIN Paciente Pac ON T.idPaciente = Pac.idPersona
        INNER JOIN Persona Per ON Pac.idPersona = Per.idPersona
        INNER JOIN Medico M ON T.idMedico = M.idMedico
        INNER JOIN Persona PerMed ON M.idPersona = PerMed.idPersona
        INNER JOIN Especialidad E ON T.idEspecialidad = E.idEspecialidad
        WHERE Pac.idPersona = @idPaciente;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarHistorialPorTurno]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ConsultarHistorialPorTurno]
        @idTurno INT
    AS
    BEGIN
        SELECT
            HM.idHistorialMedico,
            HM.idTurno,
            FORMAT(T.FechaHora, 'hh:mm') AS Hora,
            HM.FechaAtencion,
            Per.Nombre + ' ' + Per.Apellido AS Paciente,
            PerMed.Nombre + ' ' + PerMed.Apellido AS Medico,
            E.Nombre AS Especialidad,
            HM.MotivoConsulta,
            HM.Diagnostico,
            HM.Tratamiento,
            HM.Observaciones
        FROM HistorialMedico HM
        INNER JOIN Turnos T ON HM.idTurno = T.idTurno
        INNER JOIN Paciente Pac ON T.idPaciente = Pac.idPersona
        INNER JOIN Persona Per ON Pac.idPersona = Per.idPersona
        INNER JOIN Medico M ON T.idMedico = M.idMedico
        INNER JOIN Persona PerMed ON M.idPersona = PerMed.idPersona
        INNER JOIN Especialidad E ON T.idEspecialidad = E.idEspecialidad
        WHERE T.idTurno = @idTurno;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarMedicosyEspecialidades]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultarMedicosyEspecialidades]
AS
BEGIN
	SELECT
	M.NumMatricula as 'MATRICULA',
	P.Nombre as 'Nombre',
	P.Apellido as 'Apellido',
	E.Nombre as 'Especialidad'

	FROM Medico  M
	INNER JOIN Persona  P on p.idPersona = m.idPersona
	INNER JOIN MedicoEspecialidad ME on me.idMedico = m.idMedico
	INNER JOIN Especialidad E on e.idEspecialidad = me.idEspecialidad
	WHERE m.Activo = 1

	ORDER BY P.Apellido
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarTurnosAsignados]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Crear el procedimiento
CREATE PROCEDURE [dbo].[sp_ConsultarTurnosAsignados]
    @idMedico INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Medico,
        Paciente,
        FechaHora,
        Estado,
        NroConsultorio
    FROM vw_TurnosAsignados
    WHERE idTipoTurno = 1 
      AND Activo = 1 
      AND idMedico = @idMedico
    ORDER BY FechaHora;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarTurnosDisponibles]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultarTurnosDisponibles] 

    @EspecialidadNombre VARCHAR(255) 

AS 

BEGIN 

        

 

    SELECT  

        P.Nombre + ' '+ P.Apellido AS Medico, 

        E.Nombre AS Especialidad, 

        TM.fechaHora AS HorarioTurno 

    FROM HorarioAtencion HA 

    INNER JOIN MedicoHorario MH ON HA.idHoraAtencion = MH.idHorario 

    INNER JOIN Medico M ON MH.idMedico = M.idMedico 

    INNER JOIN Persona P ON M.idPersona = P.idPersona 

    INNER JOIN MedicoEspecialidad ME ON M.idMedico = ME.idMedico 

    INNER JOIN Especialidad E ON ME.idEspecialidad = E.idEspecialidad 

    INNER JOIN TurnosMedico TM ON HA.idHoraAtencion = TM.idHoraAtencion 

    WHERE E.Nombre = @EspecialidadNombre 

      AND HA.Activo = 1 

      AND HA.Cupos > 0 

      AND NOT EXISTS ( 

          SELECT 1 

          FROM Turnos T  

          WHERE T.idMedico = M.idMedico  

            AND T.FechaHora = TM.fechaHora 

      ) 

    ORDER BY TM.fechaHora; 

END; 
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEspecialidadDeMedico]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarEspecialidadDeMedico]
    @idEspecialidad INT,
    @idMedico INT

AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Especialidad WHERE idEspecialidad = @idEspecialidad)
    BEGIN
        RAISERROR('No existe esa especialidad.', 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM Medico WHERE idMedico = @idMedico)
    BEGIN
        RAISERROR('No existe ese medico.', 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM MedicoEspecialidad WHERE idEspecialidad = @idEspecialidad 
                AND idMedico = @idMedico)
    BEGIN
        RAISERROR('No existe esta asignatura', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRANSACTION

        DELETE FROM MedicoEspecialidad
        WHERE idMedico = @idMedico
        AND idEspecialidad = @idEspecialidad;

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarHistorialesMedicos]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[sp_ListarHistorialesMedicos]
    AS
    BEGIN
        SELECT
            HM.idHistorialMedico,
            HM.idTurno,
            FORMAT(T.FechaHora, 'hh:mm') AS Hora,
            HM.FechaAtencion,
            Per.Nombre + ' ' + Per.Apellido AS Paciente,
            PerMed.Nombre + ' ' + PerMed.Apellido AS Medico,
            E.Nombre AS Especialidad,
            HM.MotivoConsulta,
            HM.Diagnostico,
            HM.Tratamiento,
            HM.Observaciones
        FROM HistorialMedico HM
        INNER JOIN Turnos T ON HM.idTurno = T.idTurno
        INNER JOIN Paciente Pac ON T.idPaciente = Pac.idPersona
        INNER JOIN Persona Per ON Pac.idPersona = Per.idPersona
        INNER JOIN Medico M ON T.idMedico = M.idMedico
        INNER JOIN Persona PerMed ON M.idPersona = PerMed.idPersona
        INNER JOIN Especialidad E ON T.idEspecialidad = E.idEspecialidad;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarEspecialidad]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarEspecialidad]
    @idEspecialidad INT,
    @Nombre VARCHAR(255)
    
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Especialidad WHERE idEspecialidad = @idEspecialidad)
    BEGIN
        RAISERROR('No existe la especialidad con ese id.', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRANSACTION

        UPDATE Especialidad
        SET Nombre = @Nombre
            
        WHERE idEspecialidad = @idEspecialidad;

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarEstadoTurno]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ModificarEstadoTurno]
        @idTurno INT,
        @idTipoTurno INT
    AS
    BEGIN
        IF EXISTS
        (
            SELECT 1
            FROM Turnos
            WHERE idTurno = @idTurno
        )
        AND EXISTS
        (
            SELECT 1
            FROM TipoTurno
            WHERE idTipoTurno = @idTipoTurno
        )
        BEGIN
            UPDATE Turnos
            SET idTipoTurno = @idTipoTurno
            WHERE idTurno = @idTurno;

            PRINT 'Estado actualizado correctamente.';
        END
        ELSE
        BEGIN
            PRINT 'El turno o el estado indicado no existen.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarMedico]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarMedico]
    @idMedico INT,
    @NumMatricula VARCHAR(255),
    @HorarioAtencion INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Medico WHERE idMedico = @idMedico)
    BEGIN
        RAISERROR('No existe un médico con ese id.', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRANSACTION

        UPDATE Medico
        SET NumMatricula = @NumMatricula,
            HorarioAtencion = @HorarioAtencion
        WHERE idMedico = @idMedico;

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarObraSocial]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ModificarObraSocial]
        @idObraSocial INT,
        @NuevaRazonSocial VARCHAR(255)
    AS
    BEGIN
        IF EXISTS (SELECT 1 FROM ObraSocial WHERE idObraSocial = @idObraSocial)
        BEGIN
            UPDATE ObraSocial
            SET RazonSocial = @NuevaRazonSocial
            WHERE idObraSocial = @idObraSocial;

            PRINT 'Obra social modificada correctamente.';
        END
        ELSE
        BEGIN
            PRINT 'La obra social no existe.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarPaciente]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarPaciente]
    @DNI VARCHAR(20),
    @Telefono VARCHAR(30),
    @Mail VARCHAR(255),
    @Localidad VARCHAR(255),
    @idObraSocial INT,
    @NumeroOS BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @idPersona INT;

    SELECT @idPersona = P.idPersona
    FROM Persona P
    INNER JOIN Paciente PA ON PA.idPersona = P.idPersona
    WHERE P.DNI = @DNI;

    IF @idPersona IS NULL
    BEGIN
        RAISERROR('Error: No se encontró ningún paciente con ese DNI.', 16, 1);
        RETURN;
    END;

    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE Persona
        SET Telefono = @Telefono,
            Mail = @Mail
        WHERE idPersona = @idPersona;

        UPDATE Paciente
        SET Localidad = @Localidad,
            idObraSocial = @idObraSocial,
            NumeroOS = @NumeroOS
        WHERE idPersona = @idPersona;

        COMMIT TRANSACTION;
        PRINT 'Datos del paciente actualizados correctamente.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarObraSocialPorId]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MostrarObraSocialPorId]
        @idObraSocial INT
    AS
    BEGIN
        IF EXISTS (SELECT 1 FROM ObraSocial WHERE idObraSocial = @idObraSocial)
        BEGIN
            SELECT
                idObraSocial,
                RazonSocial,
                Activo
            FROM ObraSocial
            WHERE idObraSocial = @idObraSocial;
        END
        ELSE
        BEGIN
            PRINT 'No existe una obra social con ese ID.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarObrasSociales]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MostrarObrasSociales]
    AS
    BEGIN
        SELECT
            idObraSocial AS [ID Obra Social],
            RazonSocial AS [Razon Social],
            Activo
        FROM ObraSocial;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarObrasSocialesPorEstado]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MostrarObrasSocialesPorEstado]
        @Activo BIT
    AS
    BEGIN
        SELECT
            idObraSocial AS [ID Obra Social],
            RazonSocial AS [Razon Social],
            Activo
        FROM ObraSocial
        WHERE Activo = @Activo;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarPacientesPorObraSocial]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[sp_MostrarPacientesPorObraSocial]
        @idObraSocial INT
    AS
    BEGIN
        SELECT
            Pa.idPersona AS [ID Persona],
            Per.Nombre + ' ' + Per.Apellido AS [Nombre y Apellido],
            Pa.NumeroOS AS [Numero Obra Social],
            OS.RazonSocial AS [Razon Social]
        FROM Paciente Pa
        INNER JOIN Persona Per
            ON Pa.idPersona = Per.idPersona
        INNER JOIN ObraSocial OS
            ON Pa.idObraSocial = OS.idObraSocial
        WHERE OS.idObraSocial = @idObraSocial;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarTodosLosTurnos]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MostrarTodosLosTurnos]
    AS
    BEGIN
        SELECT
            T.idTurno AS [ID Turno],
            T.FechaHora AS [Fecha y Hora],
            PP.Nombre + ' ' + PP.Apellido AS Paciente,
            PM.Nombre + ' ' + PM.Apellido AS Medico,
            E.Nombre AS Especialidad,
            CONCAT('Consultorio ', C.NroConsultorio, ' - Piso ', C.Piso) AS Consultorio,
            TT.Descripcion AS Estado
        FROM Turnos T 
        INNER JOIN Paciente P ON T.idPaciente = P.idPersona
        INNER JOIN Persona PP ON P.idPersona = PP.idPersona
        INNER JOIN Medico M ON T.idMedico = M.idMedico
        INNER JOIN Persona PM ON M.idPersona = PM.idPersona
        INNER JOIN Especialidad E ON T.idEspecialidad = E.idEspecialidad
        INNER JOIN Consultorio C ON T.idConsultorio = C.idConsultorio
        INNER JOIN TipoTurno TT ON T.idTipoTurno = TT.idTipoTurno;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarTurnoPorId]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MostrarTurnoPorId]
        @idTurno INT
    AS
    BEGIN
        IF EXISTS (SELECT 1 FROM Turnos WHERE idTurno = @idTurno)
        BEGIN
            SELECT
                T.idTurno AS [ID Turno],
                T.FechaHora AS [Fecha y Hora],
                PP.Nombre + ' ' + PP.Apellido AS Paciente,
                PM.Nombre + ' ' + PM.Apellido AS Medico,
                E.Nombre AS Especialidad,
                CONCAT('Consultorio ', C.NroConsultorio, ' - Piso ', C.Piso) AS Consultorio,
                TT.Descripcion AS Estado
            FROM Turnos T
            INNER JOIN Paciente P ON T.idPaciente = P.idPersona
            INNER JOIN Persona PP ON P.idPersona = PP.idPersona
            INNER JOIN Medico M ON T.idMedico = M.idMedico
            INNER JOIN Persona PM ON M.idPersona = PM.idPersona
            INNER JOIN Especialidad E ON T.idEspecialidad = E.idEspecialidad
            INNER JOIN Consultorio C ON T.idConsultorio = C.idConsultorio
            INNER JOIN TipoTurno TT ON T.idTipoTurno = TT.idTipoTurno
            WHERE T.idTurno = @idTurno;
        END
        ELSE
        BEGIN
            PRINT 'No existe un turno con ese ID.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_QuitarCoberturaPaciente]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_QuitarCoberturaPaciente]
        @QuitarCobertura_idPaciente INT
    AS
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM Paciente WHERE idPersona = @QuitarCobertura_idPaciente)
        BEGIN
            PRINT 'El paciente no existe.';
        END
        ELSE
        BEGIN
            UPDATE Paciente
            SET idObraSocial = NULL,
                NumeroOS = NULL
            WHERE idPersona = @QuitarCobertura_idPaciente;

            PRINT 'Cobertura médica quitada correctamente.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarHistorialMedico]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarHistorialMedico]
    @DNIPaciente VARCHAR(20),
    @NumMatricula VARCHAR(50),
    @FechaAtencion DATE,
    @MotivoConsulta VARCHAR(255),
    @Diagnostico VARCHAR(255),
    @Tratamiento VARCHAR(255),
    @Observaciones VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @idTurno INT;

    SELECT TOP 1 @idTurno = T.idTurno
    FROM Turnos T
    INNER JOIN Paciente PA ON T.idPaciente = PA.idPersona
    INNER JOIN Persona P ON PA.idPersona = P.idPersona
    INNER JOIN Medico M ON T.idMedico = M.idMedico
    WHERE P.DNI = @DNIPaciente
      AND M.NumMatricula = @NumMatricula
      AND CAST(T.FechaHora AS DATE) = @FechaAtencion
    ORDER BY T.FechaHora DESC;

    IF @idTurno IS NULL
    BEGIN
        RAISERROR('Error: No se encontró un turno para ese paciente, médico y fecha.', 16, 1);
        RETURN;
    END;

    IF EXISTS (SELECT 1 FROM HistorialMedico WHERE idTurno = @idTurno)
    BEGIN
        RAISERROR('Error: Ya existe un historial registrado para ese turno.', 16, 1);
        RETURN;
    END;

    INSERT INTO HistorialMedico (idTurno, FechaAtencion, MotivoConsulta, Diagnostico, Tratamiento, Observaciones)
    VALUES (@idTurno, @FechaAtencion, @MotivoConsulta, @Diagnostico, @Tratamiento, @Observaciones);

    PRINT 'Historial médico registrado correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPaciente]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarPaciente]
    @Nombre VARCHAR(255),
    @Apellido VARCHAR(255),
    @DNI VARCHAR(20),
    @Telefono VARCHAR(30),
    @Nacionalidad VARCHAR(255),
    @Mail VARCHAR(255),
    @FechaNacimiento DATE,
    @Localidad VARCHAR(255),
    @idObraSocial INT,
    @NumeroOS BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Persona WHERE DNI = @DNI)
    BEGIN
        RAISERROR('Error: Ya existe una persona registrada con ese DNI.', 16, 1);
        RETURN;
    END;

    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Persona (Nombre, Apellido, DNI, Telefono, Nacionalidad, Mail, FechaNacimiento)
        VALUES (@Nombre, @Apellido, @DNI, @Telefono, @Nacionalidad, @Mail, @FechaNacimiento);

        DECLARE @idNuevaPersona INT = SCOPE_IDENTITY();

        INSERT INTO Paciente (idPersona, Localidad, idObraSocial, NumeroOS, FechaIngreso, Activo)
        VALUES (@idNuevaPersona, @Localidad, @idObraSocial, @NumeroOS, CAST(GETDATE() AS DATE), 1);

        COMMIT TRANSACTION;
        PRINT 'Paciente registrado correctamente.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReprogramarTurno]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ReprogramarTurno]
        @Reprog_idTurno INT,
        @Reprog_NuevaFechaHora DATETIME,
        @Reprog_NuevoConsultorio INT
    AS
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM Turnos WHERE idTurno = @Reprog_idTurno)
        BEGIN
            PRINT 'El turno no existe.';
        END
        ELSE IF EXISTS (
            SELECT 1
            FROM Turnos T
            WHERE T.idTurno = @Reprog_idTurno
            AND T.idTipoTurno = 3
        )
        BEGIN
            PRINT 'No se puede reprogramar un turno cancelado.';
        END
        ELSE IF EXISTS (
            SELECT 1
            FROM Turnos T1
            INNER JOIN Turnos T2 ON T1.idMedico = T2.idMedico
            WHERE T1.idTurno = @Reprog_idTurno
            AND T2.FechaHora = @Reprog_NuevaFechaHora
            AND T2.idTurno <> @Reprog_idTurno
            AND T2.idTipoTurno <> 3
        )
        BEGIN
            PRINT 'El médico ya tiene otro turno en esa fecha y hora.';
        END
        ELSE IF EXISTS (
            SELECT 1
            FROM Turnos
            WHERE idConsultorio = @Reprog_NuevoConsultorio
            AND FechaHora = @Reprog_NuevaFechaHora
            AND idTurno <> @Reprog_idTurno
            AND idTipoTurno <> 3
        )
        BEGIN
            PRINT 'El consultorio ya está ocupado en esa fecha y hora.';
        END
        ELSE
        BEGIN
            UPDATE Turnos
            SET FechaHora = @Reprog_NuevaFechaHora,
                idConsultorio = @Reprog_NuevoConsultorio
            WHERE idTurno = @Reprog_idTurno;

            PRINT 'Turno reprogramado correctamente.';
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReservarTurno]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_ReservarTurno] 

( 

    @NumMatricula VARCHAR(50),       

    @DNIPaciente VARCHAR(20),       

    @NroConsultorio INT,            

    @idTipoTurno INT,                

    @NombreEspecialidad VARCHAR(100),  

    @FechaHoraTurno DATETIME         

) 

AS 

BEGIN 

     

 

    DECLARE @idMedico INT; 

    DECLARE @idPaciente INT;  

    DECLARE @idConsultorio INT; 

    DECLARE @idEspecialidadEncontrada INT; 

 

    

 

 

    SELECT @idMedico = idMedico 

    FROM Medico 

    WHERE NumMatricula = @NumMatricula; 

 

   

    SELECT @idPaciente = Pac.idPersona 

    FROM Paciente Pac 

    INNER JOIN Persona Per ON Pac.idPersona = Per.idPersona 

    WHERE Per.DNI = @DNIPaciente; 

 

    

    SELECT @idConsultorio = idConsultorio 

    FROM Consultorio 

    WHERE NroConsultorio = @NroConsultorio; 

 

    SELECT @idEspecialidadEncontrada = idEspecialidad 

    FROM Especialidad 

    WHERE Nombre = @NombreEspecialidad;  

 

   

 

    IF @idMedico IS NULL 

    BEGIN 

        RAISERROR('Error: No se encontró ningún médico con la matrícula ingresada.', 16, 1); 

        RETURN; 

    END; 

 

    IF @idPaciente IS NULL 

    BEGIN 

        RAISERROR('Error: No se encontró ningún paciente con el DNI ingresado.', 16, 1); 

        RETURN; 

    END; 

 

    IF @idConsultorio IS NULL 

    BEGIN 

        RAISERROR('Error: El número de consultorio especificado no existe.', 16, 1); 

        RETURN; 

    END; 

 

   

    IF @idEspecialidadEncontrada IS NULL 

    BEGIN 

        RAISERROR('Error: La especialidad médica ingresada no existe en el sistema.', 16, 1); 

        RETURN; 

    END; 

 

   

    IF NOT EXISTS ( 

        SELECT 1  

        FROM MedicoEspecialidad  

        WHERE idMedico = @idMedico  

          AND idEspecialidad = @idEspecialidadEncontrada 

    ) 

    BEGIN 

        RAISERROR('Error: El médico seleccionado no tiene vinculada la especialidad solicitada.', 16, 1); 

        RETURN; 

    END; 

 

 

    IF EXISTS 

    ( 

        SELECT 1 

        FROM Turnos 

        WHERE idMedico = @idMedico 

          AND FechaHora = @FechaHoraTurno 

    ) 

    BEGIN 

        RAISERROR('Error: El médico ya tiene una reserva confirmada para ese día y horario.', 16, 1); 

        RETURN; 

    END; 

 

   

    BEGIN TRANSACTION; 

 

    BEGIN TRY 

        INSERT INTO Turnos 

        ( 

            idMedico, 

            idEspecialidad,  

            FechaHora, 

            idConsultorio, 

            idTipoTurno, 

            idPaciente 

        ) 

        VALUES 

        ( 

            @idMedico, 

            @idEspecialidadEncontrada, 

            @FechaHoraTurno, 

            @idConsultorio, 

            @idTipoTurno, 

            @idPaciente 

        ); 

 

        COMMIT TRANSACTION; 

        PRINT 'Turno reservado correctamente de forma segura.'; 

    END TRY 

    BEGIN CATCH 

        ROLLBACK TRANSACTION; 

        THROW; 

    END CATCH 

END; 
GO
/****** Object:  StoredProcedure [dbo].[sp_VerEstadoTurnosPaciente]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerEstadoTurnosPaciente] 

    @DNI VARCHAR(20) 

AS 

BEGIN 

    SET NOCOUNT ON; 

 

    SELECT 

        t.FechaHora, 

        e.Nombre AS Especialidad, 

        pMed.Nombre + ' ' + pMed.Apellido AS Medico, 

        c.NroConsultorio, 

        TT.Descripcion AS EstadoTurno 

    FROM Turnos t 

 

        INNER JOIN Paciente pa 

            ON t.idPaciente = pa.idPersona 

 

        INNER JOIN Persona pPac 

            ON pa.idPersona = pPac.idPersona 

 

        INNER JOIN Especialidad e 

            ON t.idEspecialidad = e.idEspecialidad 

 

        INNER JOIN Medico m 

            ON t.idMedico = m.idMedico 

 

        INNER JOIN Persona pMed 

            ON m.idPersona = pMed.idPersona 

 

        INNER JOIN Consultorio c 

            ON t.idConsultorio = c.idConsultorio 

 

        INNER JOIN TipoTurno TT 

            ON t.idTipoTurno = TT.idTipoTurno 

 

    WHERE pPac.DNI = @DNI 

 

    ORDER BY t.FechaHora; 

END;
GO
/****** Object:  Trigger [dbo].[trg_HistorialMedico_TurnoRealizado]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   TRIGGER [dbo].[trg_HistorialMedico_TurnoRealizado]
    ON [dbo].[HistorialMedico]
    AFTER INSERT
    AS
    BEGIN
        SET NOCOUNT ON;

        UPDATE T
        SET T.idTipoTurno = TT.idTipoTurno
        FROM Turnos T
        INNER JOIN inserted I
            ON T.idTurno = I.idTurno
        INNER JOIN TipoTurno TT
            ON TT.Descripcion = 'Realizado';
    END;
GO
ALTER TABLE [dbo].[HistorialMedico] ENABLE TRIGGER [trg_HistorialMedico_TurnoRealizado]
GO
/****** Object:  Trigger [dbo].[tr_DescontarCupo]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[tr_DescontarCupo]
ON [dbo].[Turnos]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE HA
    SET HA.Cupos = HA.Cupos - 1
    FROM HorarioAtencion HA
    INNER JOIN MedicoHorario MH ON MH.idHorario = HA.idHoraAtencion
    INNER JOIN inserted i ON MH.idMedico = i.idMedico
    WHERE CAST(HA.Fecha AS DATE) = CAST(i.FechaHora AS DATE)
      AND HA.Cupos > 0;
END;
GO
ALTER TABLE [dbo].[Turnos] ENABLE TRIGGER [tr_DescontarCupo]
GO
/****** Object:  Trigger [dbo].[trg_TurnosMedico_]    Script Date: 29/06/2026 22:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TurnosMedico_]
ON [dbo].[TurnosMedico]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM TurnosMedico 
    WHERE FechaHora < GETDATE();
END;
GO
ALTER TABLE [dbo].[TurnosMedico] ENABLE TRIGGER [trg_TurnosMedico_]
GO
USE [master]
GO
